@model IEnumerable<MGO.Models.Category>

@{
    ViewBag.Controller = "Categories";
}

<h1 class="row mgo-row text-center">@ViewBag.Controller</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cat_Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cat_Num }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cat_Num }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cat_Num })
            </td>
        </tr>
    }

</table>
