@model MGO.Models.Sale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.S_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cust_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Cust_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Emp_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Emp_FName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sale_Num }) |
    @Html.ActionLink("Back to List", "Index")
</p>
