@model InterviewCodingQuestionPrep.Models.Cowboys

@{
    ViewBag.Title = "Cowboy Details";
}

<div>
    <h4 class="text-info">Cowboy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cowboy_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cowboy_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indians)
        </dt>

        <dd class="col-2">
            <table class="table table-sm table-striped">
                @foreach ( var indian in Model.Indians )
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor( model => indian.Indian_Name )
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink( "Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning" } )
    @Html.ActionLink( "Back to List", "Index", null, new { @class = "btn btn-outline-secondary" } )
</p>
