@model IEnumerable<MGO.Models.Customer>

@{
    ViewBag.Controller = "Customers";
}

<h1 class="row mgo-row text-center">@ViewBag.Controller</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_ZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_EMail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_Street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_Street2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_ZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cust_EMail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cust_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cust_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cust_ID })
            </td>
        </tr>
    }

</table>
