@model MGO.Models.Employee

@{
    ViewBag.Action = "Delete";
}

<h1 class="row mgo-row text-center">@ViewBag.Action @ViewBag.Title @ViewBag.Controller</h1>

<h3>Are you sure you want to @ViewBag.Action.ToLower() @ViewBag.Controller.ToLower() @Model.Emp_FName @Model.Emp_LName?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Commission)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
